<%- include('../partials/header') -%>
<h2>Game</h2>
<h3>Bonjour <%= login %></h3>
<div class="mb-5">
    <a href="/logout">Se déconnecter</a>
</div>
<div>
    <a href="/play" class="btn btn-primary">Jouez</a>

    <div class="d-flex">
        <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[0] : "?" %></div>
        <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[1] : "?" %></div>
        <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[2] : "?" %></div>
        <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[3] : "?" %></div>
        <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[4] : "?" %></div>
    </div>
</div>
<div>
    <% if(message && message === "perdu"){ %>
        <span>Perdu, vous ne remportez pas de patisserie</span><br>
        <a href="/results">Voir les résultats</a>
    <% } %>
    <% if(message && message === "gagne"){ %>
        <p>Patisseries gagnés:</p>
        <ul>
            <!-- <% pastries.forEach(function(pastrie) { %>
                <li><%= pastrie %></li>
            <% }); %>  -->
        </ul>
    <% } %>
</div>
<%- include('../partials/footer') -%>