<%- include('../partials/header') -%>
<div class="container">

    <h3>Bonjour <%= login %></h3>
    <div class="w-50 m-auto">

        
        <div class="d-flex justify-content-around mb-3">
        
            <% if(played){ %>
                <!-- <a href="/play" type="button" class="btn btn-primary" disabled>déja Jouez</a> -->
                <form method="get" action="/play">
                    <button type="submit" class="btn btn-primary" disabled>Jouez</button>
                </form>
            <% } else{ %>  
                <!-- <a href="/play" type="button" class="btn btn-primary">Jouez</a> -->
                <form method="get" action="/play">
                    <button type="submit" class="btn btn-primary">Jouez</button>
                </form>
            <% } %>
            <a href="/test" class="btn btn-primary">Test</a>
        </div>
        
        <div class="d-flex justify-content-around mb-3">
            <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[0] : "?" %></div>
            <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[1] : "?" %></div>
            <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[2] : "?" %></div>
            <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[3] : "?" %></div>
            <div class="fw-bold m-3 px-3 py-2 border border-1 rounded"><%= nb.length > 0 ? nb[4] : "?" %></div>
        </div>
        <div>
            <% if(message && message === "perdu"){ %>
                <span>Perdu, vous ne remportez pas de patisserie</span><br>
                <a href="/results">Voir les résultats</a>
            <% } %>
            <% if(message && message === "gagne"){ %>
                <p>Patisseries gagnés:</p>
                <ul>
                    <% pastries.forEach(function(pastrie) { %>
                        <li><%= pastrie %></li>
                    <% }); %> 
                </ul>
                <a href="/results">Voir les résultats</a>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer') -%>